@media (min-width: 800px) {
    .phone {
        display: none;
    }

    main {
        width: 100%;
    }

    .title {
        height: 6vw;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5vw;
    }

    .backBtn {
        height: 6vw;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5vw;
    }

    .backBtn a {
        background: rgb(133, 230, 36);
        font-size: 1.6vw;
        font-weight: 900;
        text-decoration: none;
        color: whitesmoke;
        padding: 1vw;
    }

    .addPageForm {
        height: auto;
        width: 40%;
        margin-left: 25%;
        margin-right: 25%;
        padding: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .addPageForm form {
        height: 25vw;
        width: 100%;
        display: flex;
        align-items: left;
        justify-content: space-evenly;
        flex-direction: column;
        border: solid 0.2vw black;
        padding: 10%;
    }

    .addPageForm form .portName {
        padding: 0.5vw;
        outline: none;
    }

    .addPageForm form .upload {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 3.5vw;
    }

    .addPageForm form button {
        height: 2.5vw;
        width: 100%;
        border: none;
        background: rgb(133, 230, 36);
        color: whitesmoke;
        font-size: 1.5vw;
        font-weight: 900;
        letter-spacing: 0.1vw;
        cursor: pointer;
        margin-top: 2vw;
    }
}