{% load static %}

<head>
    <script src='https://kit.fontawesome.com/1b028243f3.js'></script>
    <link rel="stylesheet" href="{% static 'CSS/about-me.css' %}">
</head>

<main>
    <img class="banner" src="{% static 'IMG/AboutMe/banner.jpeg' %}">
    <div class="box">
        <img class="boxIMG" src="{% static 'IMG/AboutMe/image00002.png' %}">
        <div class="boxText">
            Ik ben Blossom Michiels en heb
            een enorme passie voor fotografie.
            Sinds ik een professionele camera
            heb, ben ik niet meer gestopt met
            foto's maken. Naast fotografie
            houd ik heel erg van videografie,
            dansen, theater, kunst en onder de
            mensen zijn.
            In mijn vrije tijd ben ik bijna altijd
            wel bezig met iets wat te maken
            heeft met kunst of breng ik de tijd
            door met de mensen die mij
            dierbaar zijn
        </div>
    </div>
    <div class="blackLine"></div>
    <div class="box">
        <div class="boxText">
            <h2>Waarom moet je mij kiezen?</h2>
            Één van de belangrijkste dingen
            vind ik dat degenen voor de camera
            zich op zijn of haar gemak voelt.
            Daarom neem ik voor de shoot de
            tijd om je te leren kennen. Op deze
            manier krijg je veel mooiere en
            spontanere foto's. Ook kijken we
            samen naar wat jij mooi vindt, en op
            basis daarvan maak en edit ik de
            foto's.
        </div>
        <img class="boxIMG" src="{% static 'IMG/AboutMe/image00003.png' %}">
    </div>
    <div class="blackLine"></div>
    <div class="box">
        <img class="boxIMG" src="{% static 'IMG/AboutMe/image00004.png' %}">
        <div class="boxText">
            <h2>Waarom vind ik dit werk leuk?</h2>
            Ik geniet van fotoshoot doen,
            omdat je allemaal nieuwe mensen
            leert kennen. Zoals je bij ander
            werk vaak hetzelfde doet,
            zien mijn werkdagen er altijd anders
            uit. Dit maakt het zo ontzettend leuk,
            omdat je elke keer weer wat
            nieuws te wachten staat.
            Daarnaast is het super leuk om te
            zien hoe blij je mensen kan maken
            met mooie foto's,
            en hoe dierbaar een mooi
            vastgelegd moment kan zijn.
        </div>
    </div>
    <div class="blackLine"></div>
</main>