<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
    <div class="form-container">
        <form action="" class="mailForm" method="POST" autocomplete="off">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Naam" required>
            <input type="text" name="sub" placeholder="Onderwerp" required>
            <input type="email" name="email" placeholder="E-Mail" required>
            <textarea name="message" placeholder="Bericht" required></textarea>
            <button name="submitMail" type="submit" value="Send">Verzend!</button>
        </form>
    </div>
</body>
</html>