{% load static %}

<head>
    <script src='https://kit.fontawesome.com/1b028243f3.js'></script>
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
</head>

<main>
    <div class="flex">
        <div class="text">
            <p>Wanneer mensen naar mijn foto's kijken, wil ik dat ze hetzelfde voelen als wanneer ze een regel uit een gedicht twee keer willen lezen.</p>
        </div>
        <div class="box2">
            <div class="slideBox">
                {% for img in images %}
                <img class="slidePic" src="{% static 'IMG/Home-Slide/' %}{{ img }}">
                {% endfor %}
                <img class="fotoLijst" src="{% static 'IMG/Format/LijstjeRechthoek.png' %}" alt="Lijstje Rechthoek">
            </div>
        </div>
    </div>
</main>
<script src="{% static 'JS/home.js' %}"></script>