{% load static %}

<head>
    <script src='https://kit.fontawesome.com/1b028243f3.js'></script>
    <link rel="stylesheet" href="{% static 'CSS/portfolio.css' %}">
</head>

<main>
    {% for item in portPages %}
    <div class="row">
        <a href="/portfolio/{{ item.portName }}" class="img img1"><img src="/media/{{ item.img1 }}"></a>
        <a href="/portfolio/{{ item.portName }}" class="img img2"><img src="/media/{{ item.img2 }}"></a>
        <a href="/portfolio/{{ item.portName }}" class="img img3"><img src="/media/{{ item.img3 }}"></a>
        <a href="/portfolio/{{ item.portName }}" class="goToLink">
            <div class="viewMore">VIEW MORE</div>
            <div style="text-transform: uppercase;">|{{ item.portName }}</div>
            <div class="arrow"></div>
        </a>
    </div>
    {% endfor %}
</main>