{% load static %}

<head>
    <script src='https://kit.fontawesome.com/1b028243f3.js'></script>
    <link rel="stylesheet" href="{% static 'CSS/tarieven.css' %}">
</head>

<main>
    {% for i in tarieven %}
        {% if i.titel == "Event shoot" %}
            <div class="eventShoot">
                <h2>{{ i.titel }}</h2>
                {% if i.Alinea1 == "none" %}
                    <div style="display: none;">{{ i.Alinea1 }}</div>
                {% else %}
                    <div>{{ i.Alinea1 }}</div>
                {% endif %}
                {% if i.Alinea2 == "none" %}
                    <div style="display: none;">{{ i.Alinea2 }}</div>
                {% else %}
                    <div>{{ i.Alinea2 }}</div>
                {% endif %}
                {% if i.Alinea3 == "none" %}
                    <div style="display: none;">{{ i.Alinea3 }}</div>
                {% else %}
                    <div>{{ i.Alinea3 }}</div>
                {% endif %}
            </div>
        {% elif i.titel == "Portret shoot" %}
            <div class="portretShoot">
                <h2>{{ i.titel }}</h2>
                {% if i.Alinea1 == "none" %}
                    <div style="display: none;">{{ i.Alinea1 }}</div>
                {% else %}
                    <div>{{ i.Alinea1 }}</div>
                {% endif %}
                {% if i.Alinea2 == "none" %}
                    <div style="display: none;">{{ i.Alinea2 }}</div>
                {% else %}
                    <div>{{ i.Alinea2 }}</div>
                {% endif %}
                {% if i.Alinea3 == "none" %}
                    <div style="display: none;">{{ i.Alinea3 }}</div>
                {% else %}
                    <div>{{ i.Alinea3 }}</div>
                {% endif %}
            </div>
        {% elif i.titel == "Familie shoot" %}
            <div class="familieShoot">
                <h2>{{ i.titel }}</h2>
                {% if i.Alinea1 == "none" %}
                    <div style="display: none;">{{ i.Alinea1 }}</div>
                {% else %}
                    <div>{{ i.Alinea1 }}</div>
                {% endif %}
                {% if i.Alinea2 == "none" %}
                    <div style="display: none;">{{ i.Alinea2 }}</div>
                {% else %}
                    <div>{{ i.Alinea2 }}</div>
                {% endif %}
                {% if i.Alinea3 == "none" %}
                    <div style="display: none;">{{ i.Alinea3 }}</div>
                {% else %}
                    <div>{{ i.Alinea3 }}</div>
                {% endif %}
            </div>
        {% elif i.titel == "Dieren shoot" %}
            <div class="dierenShoot">
                <h2>{{ i.titel }}</h2>
                {% if i.Alinea1 == "none" %}
                    <div style="display: none;">{{ i.Alinea1 }}</div>
                {% else %}
                    <div>{{ i.Alinea1 }}</div>
                {% endif %}
                {% if i.Alinea2 == "none" %}
                    <div style="display: none;">{{ i.Alinea2 }}</div>
                {% else %}
                    <div>{{ i.Alinea2 }}</div>
                {% endif %}
                {% if i.Alinea3 == "none" %}
                    <div style="display: none;">{{ i.Alinea3 }}</div>
                {% else %}
                    <div>{{ i.Alinea3 }}</div>
                {% endif %}
            </div>
        {% elif i.titel == "Gebouwen shoot" %}
            <div class="gebouwenShoot">
                <h2>{{ i.titel }}</h2>
                {% if i.Alinea1 == "none" %}
                    <div style="display: none;">{{ i.Alinea1 }}</div>
                {% else %}
                    <div>{{ i.Alinea1 }}</div>
                {% endif %}
                {% if i.Alinea2 == "none" %}
                    <div style="display: none;">{{ i.Alinea2 }}</div>
                {% else %}
                    <div>{{ i.Alinea2 }}</div>
                {% endif %}
                {% if i.Alinea3 == "none" %}
                    <div style="display: none;">{{ i.Alinea3 }}</div>
                {% else %}
                    <div>{{ i.Alinea3 }}</div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</main>