{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'DataLectro-SiteManager/CSS/addPortPage.css' %}">
</head>
<main>
    <div class="title">
        <h1>Add new portfolio page:</h1>
    </div>
    <div class="backBtn">
        <a href="/sitemanager/portPages">Back...</a>
    </div>
    <div class="addPageForm">
        <form method="post" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            <input class="portName" type="text" name="portName" placeholder="Portfolio naam" autocomplete="off">
            <div class="upload">
                <label for="img">IMG-1:</label>
                <input type="file" id="img" name="img1" accept="image/*">
            </div>
            <div class="upload">
                <label for="img">IMG-2:</label>
                <input type="file" id="img" name="img2" accept="image/*">
            </div>
            <div class="upload">
                <label for="img">IMG-3:</label>
                <input type="file" id="img" name="img3" accept="image/*">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</main>