{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataLectro-Sitemanager</title>
    <link rel="stylesheet" href="{% static 'DataLectro-SiteManager/CSS/index.css' %}">
    <script src="https://kit.fontawesome.com/119ccea603.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header-PC">
            <div class="topTitle">
                <a href="/" class="logo">
                    <img src="{% static 'DataLectro-Sitemanager/IMG/logoNew.png' %}">
                </a>
                <h1 class="fileHead">Sitemanager</h1>
            </div>
            <div class="navList">
            </div>
        </div>
    </header>
    {% include page %}
</body>
</html>