{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataLectro-Sitemanager</title>
    <link rel="stylesheet" href="{% static 'DataLectro-Sitemanager/CSS/index.css' %}">
    <script src="https://kit.fontawesome.com/119ccea603.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header-PC">
            <div class="topTitle">
                <a href="https://datalectro.nl" class="logo">
                    <img src="{% static 'DataLectro-Sitemanager/IMG/logoNew.png' %}">
                </a>
                <a class="a" href="/">Back to site</a>
                <a class="a" href="/logout" style="background-color: red;">Logout</a>
            </div>
            <div class="navList">
            </div>
        </div>
    </header>
    {% include page %}
</body>
</html>