{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'DataLectro-Sitemanager/CSS/portPages.css' %}">
</head>
<main>
    <div class="title">
        <h1>Portfolio Pages</h1>
    </div>
    <div class="addButton">
        <a href="/sitemanager/" style="margin-bottom: 25px; background: red;">Back...</a>
    </div>
    <div class="addButton">
        <a href="/sitemanager/addPortPage">Add new portfolio page</a>
    </div>
    <div class="pagesList">
        {% for portPage in pages %}
        <div class="itemBox">
            <a href="/sitemanager/portPages/{{ portPage.portName }}" class="pageLink">
                <p>Portfolio - {{ portPage.portName }}</p>
            </a>
            <a class="delIcon" href="/sitemanager/portPages/delete/{{ portPage.id }}"><i class="fa fa-trash"></i></a>
        </div>
        {% endfor %}
    </div>
</main>